{% extends 'xstock/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Index
{% endblock %}

{% block body_block %}
    <h1>Welcome to X-Stock</h1>
    {% if user.is_authenticated %}
        howdy {{ user.username }}!
    {% else %}
        hey there partner!
    {% endif %}
    <div>
        <a href="/xstock/buy/">Go buy some stocks!</a><br/>
        <img src="{% static "images/one.jpg" height="100" width="100" %}" alt="Picture of cool pineapple" />
    </div>
{% endblock %}
